*.exe
*.ilk
*.pdb
*.ncb 
*.suo
*.user
*.pch
*.log
*.lib
*.obj
*.ncb
*.exp
*.pyc
*.pyd
*.mat
*.cxx
*.bin
*.o
*.a
*.vshost*
*.dll
*.mex*
*.asv
*.htm
**/Makefile
.DS_Store
*~
*#*#
*.so
*.so.*
.vs/
obj/*
**/.qmake.stash
Debug/
Release/
bin/
examples/cs/*/obj/*
examples/cpp/CppModule
lang/python/PyDragonfly.py
lang/python/PyDragonfly_wrap.cxx
lang/python/Dragonfly_Definitions.py
lang/python/dragonfly_wrap.cxx
